.banner-wrapper
  background-color: #130c04
  position: relative

.banner-item-picture
  img
    width: 100%
    max-height: 500px
    z-index: -1

.banner-link
  transition: all ease 200ms
  text-transform: uppercase
  font-size: 14px
  color: #fff
  position: absolute
  right: 166px
  bottom: 150px
  min-width: 121px
  min-height: 41px
  border-radius: 5px
  background: $red
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  &:hover
    transform: scale(1.1)

.banner-dots-wrapper
  position: absolute
  z-index: 999
  top: 45%
  transform: translateY(-50%)

.banner-dots
  .active
    width: 100%
    > span
      display: none
      height: 30px
      width: 30px
    .actor
      display: flex
      align-items: center

.owl-dot
  &:first-child
    margin-top: 0
  display: block
  background-color: transparent
  padding: 0
  width: 30px
  margin-top: 10px
  &:hover
    cursor: pointer
    > span
      height: 15px
      width: 15px
  > span
    display: inline-block
    height: 10px
    width: 10px
    background: #fff
    border-radius: 50%
    margin: 0 auto

.actor
  display: none

.actor-pic
  border-radius: 50%
  border: 2px solid $red

.actor-name
  margin-left: 10px
  font-size: 14px
  font-weight: 700
  color: #fff
  font-style: bold

@media (max-width: 1120px)
  .banner-link
    bottom: 50px
    left: 50%
    transform: translateX(-50%)

@media (max-width: 650px)
  .banner-link
    bottom: 25px
    left: 50%
    transform: translateX(-50%)

@media (max-width: 500px)
  .banner-link
    min-width: 101px
    min-height: 31px
    font-size: 12px
    bottom: 0
    left: 50%
    transform: translateX(-50%)
